.App {
    display: grid;
    grid-template-areas:
        'header'
        'media'
        'tablist'
        'main';
}

.Header {
    grid-area: header;
    justify-self: center;
}

.CategoryContainer {
    grid-area: media;
    padding-bottom: 10px;
}

.Main {
    width: 100%;
    height: auto;
    border-style: solid;
    grid-area: main;
    justify-self: end;
    display: grid;
    grid-template-areas:
        'svg'
        'text';
}

.Text {
    grid-area: text;
    align-self: center;
    justify-self: center;
}

.Picture {
    grid-area: svg;
}

.TabList {
    grid-area: tablist;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.tab-button {
    float: left;
    width: 100px;
    height:60px;
    white-space: nowrap;
    margin: 0 20px 2px 0;
    border: 1px solid #ccc;
    background-color: lightgrey;
    border-radius: 12px;
}

.tab-button-active {
    width: 100px;
    height:60px;
    white-space: nowrap;
    margin: 0 20px 2px 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: lightgreen;
}

button:hover {
    background: lightgreen;
    text-decoration: none;
    cursor:pointer;
}

svg {
  width: 100%;
  height: auto;
  preserveAspectRatio: "xMidYMid meet";
}

@media (min-width: 800px) {
    .App {
        grid-template-areas:
        'header header'
        'tablist tablist'
        'main media'
    }

    .media-container {
        float: none;
    }

    .Main {
        grid-template-areas:
        'svg text';
    }

    .CategoryContainer {
        padding-left: 10px;
        padding-bottom: 0px;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .Main {
        grid-template-areas:
        'svg text';
    }

    .media-container {
        float: left;
    }
}
